.wrapper{
    width: 60vw;
    height: 80vh;
    background-color: cadetblue;
    margin: auto;
    padding: 2vh;

}
h1{
    text-align: center;
    color: floralwhite;
}
.hangmanPicture{
    margin: auto;
    width: 750px;
    height: 393px;
}
.guessBox{
    margin: 2vh auto;
    height: 6vh;
    width: 750px;
    background-color: floralwhite;
}
.lettersContainer{
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    height: auto;
    margin: 5vh auto;
}
.letter{
    background-color: black;
    color: floralwhite;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}